/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #363b81;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:focus {
  color: #fff;
  text-decoration: underline;
}

/* -------------------------header------------------------------ */
.navbar {
  background-color: #eb0000;
  margin: 0;
  font-size: 1.2em;
}

.header__icon {
  width: clamp(50px, calc(3.125rem + ((1vw - 7.68px) * 2.6042)), 80px);
  height: clamp(50px, calc(3.125rem + ((1vw - 7.68px) * 2.6042)), 80px);
  position: absolute;
  display: block;
  top: 6px;
  right: 0;
  left: 0;
  margin: 0 0 0 15px;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  border-radius: 50px;
  background-color: #fff;
}

.nav-link:hover,
.navlink:focus {
  text-decoration: underline;
}

#activeLink:hover,
#activeLink:focus {
  cursor: default;
  text-decoration: none;
}

/* ------------------- pokemonlist---------------------------- */

.pokemonlist__h1 {
  margin: 50px 0 40px;
}

.pokemonlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.pokemonlist__item {
  padding: 20px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #363b81;
  font-size: 1.4em;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 9px 0 rgba(54, 59, 129, 0.63);
          box-shadow: 5px 5px 9px 0 rgba(54, 59, 129, 0.63);
  min-width: 240px;
}

.pokemonlist__item:hover,
.pokemonlist__item:active {
  color: #fff;
  background-color: #eb0000;
}

.pokemonlist__item:active {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.pokemonlist__item::first-letter {
  text-transform: uppercase;
}

/* --------------------- top button ----------------------------------- */

.top-button {
  display: none;
  border-style: none;
  background-color: #eb0000;
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px;
}

.top-button:hover {
  padding: 15px;
}

.toTopButton {
  width: 40px;
}

/* -------------------- modal ---------------------------- */

.modal-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 12px 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-column-gap: 12px;
  margin-left: auto;
}

.pokemonNanme::first-letter {
  text-transform: uppercase;
}

.modal-body {
  text-align: center;
}

.modal-body img {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.type {
  color: #fff;
  display: inline-block;
  padding: 5px;
  width: 80px;
  margin-left: 10px;
  border-radius: 2.5px;
}

.grass {
  background-color: #008a09;
}

.fire {
  background-color: #eb0000;
}

.water {
  background-color: #092486;
}

.electric {
  background-color: #ffdd1f;
  color: #363b81;
}

.ice {
  background-color: #abe4e7;
  color: #363b81;
}

.fighting {
  background-color: #c64300;
}

.poison {
  background-color: #9e0099;
}

.ground {
  background-color: #986a2f;
}

.flying {
  background-color: #2f6b89;
}

.psychic {
  background-color: #c70069;
}

.bug {
  background-color: #003c00;
}

.rock {
  background-color: #612e04;
}

.ghost {
  background-color: #0c0453;
}

.dark {
  background-color: #000;
}

.dragon {
  background-color: #028092;
}

.steel {
  background-color: #707070;
}

.fairy {
  background-color: #bd0068;
}

.normal {
  background-color: #755869;
}

/* ------------------- footer --------------------------- */

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eb0000;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-link__item {
  display: block;
  color: #fff;
  text-align: center;
}

/* ------------------------------ Media ------------------------------------ */

/* SM - Extra small devices */
@media all and (min-width: 576px) {
  .pokemonlist {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .top-button {
    bottom: 40px;
    left: 93%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .toTopButton {
    width: 50px;
  }
}

/* MD - Medium devices */
@media all and (min-width: 768px) {
  .navbar {
    margin: 50px 0;
  }

  .header__icon {
    top: auto;
    -webkit-box-shadow: 0 0 0 4px #fff;
            box-shadow: 0 0 0 4px #fff;
    margin: auto;
  }

  .pokemonlist__h1 {
    margin: 30px 0 50px;
  }

  .pokemonlist__item {
    width: 280px;
  }
}

/* LG - Large devices */
@media all and (min-width: 992px) {
  .pokemonlist {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* XL - Extra large devices */
@media all and (min-width: 1200px) {
  .pokemonlist {
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
